img {
    width: 100%
}

header,
footer {
    text-align: center;
    border: 1px solid black;
}

main {
    max-width: 1500px;
    margin: 20px auto;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 20px;

}

article {
    border: 1px solid black;
}

h3,
p {
    padding: 5px;
}
